  <footer>
    <p>Colegiado de Ciência da Computação - COLCIC</p>
    <p>Departamento de Engenharias e Computação - DEC</p>
    <p>Universidade Estadual de Santa Cruz - UESC</p>
    <p>(73) 3680-5110 - <a href="https://colcic.uesc.br/" target="_blank">colcic.uesc.br</a></p>
  </footer>
</body>

</html>