{{> head}}
{{> style}}
    {{> header}}
    <main>
      <div class="title">
        <h1>Seu cadastro foi realizado</h1>
      </div>
      <h3>Olá, {{name}}!</h3>
      <p>Essa é sua senha temporária: {{password}}</p>
      <p>Para alterar <a href='{{link}}'>clique aqui</a></p>
    </main>
{{> footer}}