<html lang='pt-br'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{subject}}</title>
    <style>
      .btn { 
        background: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
        background: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
        background: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
        background: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
        background: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
        border: 1px solid #CCCCCE;
        border-radius: 3px;
        box-shadow: 0 3px 0 rgba(0, 0, 0, .3), 0 2px 7px rgba(0, 0, 0, 0.2); 
        color: #616165;
        display: block;
        font-family:"Trebuchet MS";
        font-size: 14px;
        font-weight: bold;
        line-height: 25px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow:1px 1px 0 #FFF;
        padding: 5px 15px;
        position: relative;
        width:80px;
      }
    </style>
  </head>
  <body>
    <h1>Olá {{name}}!</h1>
    <p>Para alterar sua senha entre nesse link:
      <a class='btn' href='{{link}}'>Change Password</a></p>
  </body>
</html>