{{> head}}
{{> style}}
    {{> header}}
    <main>
      <div class="title">
        <h1>Recuperação de senha</h1>
      </div>
      <h3>Olá {{name}}!</h3>
      <p>Você solicitou alteração de senha</p>
      <p>Para alterar sua senha <a href='{{link}}'>clique aqui</a></p>
    </main>
{{> footer}}