{{> head}}
{{> style}}
    {{> header}}
    <main>
      <div class="title">
        <h1>Adicione um título aqui</h1>
      </div>
      <h3>Olá, {{name}}!</h3>
      <p>Este é um exemplo</p>
      <p>Para ver mais <a href='{{link}}'>clique aqui</a></p>
    </main>
{{> footer}}